<!DOCTYPE html>
<html>
	<head>
		<title>BOSCH</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="img/bosh-rewards-logo.jpg" rel="shortcut icon">

		<style>
		
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
				display: none !important;
			}

			.fade-ng-cloak {
				display: block !important;
				opacity: 1;
				transition: opacity 0.5s;
			}

			.fade-ng-cloak.ng-cloak {
				opacity: 0;
			}
	
		</style>
		
		<!--<link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">-->

		
		<link href="dist/main.min.css" rel="stylesheet">
		
	</head>
<body ng-app="app" class="ng-cloak fade-ng-cloak">
	<div class="wrapper" ng-controller="IndexPage">
		<header class="common-header">
			<div class="inner-wrapper self-clear">
				
				<div class="pull-left">
					<a href="./">
						<img class="logo-left" src="img/bosch_logo_2.jpg">
					</a>
				</div>
				
				<div class="pull-right ">
					<a href="./">
						<img class="logo-right" src="img/bosh-rewards-logo.jpg">
					</a>
				</div>
			</div>
		</header>
		
		<div>
			<nav class="navbar page-nav">
				<div class="inner-wrapper">
					<!-- <div class="navbar-header"></div> -->
					
					<ul class="nav navbar-nav pull-right">
						<li ng-class="(loginURl == '#')?'active':''"><a ng-href="{{loginURl}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				</div>
			</nav>

			<div ng-view class="position-relative"></div>
		</div>
		
		<main>
		
			<div class="home-main self-clear">
				
				<div class="col-md-6 sidebg parent" id="customersTile">
					
					<table>
						<tr><td>
							
							<div class="tile-wrapper">
						
							<h2 class="tile-header text-uppercase blueFont">Customers</h2>
							
							<p class="tile-desc">
								<a href="infoPages.html#/customersProgramDetails" class="tile-btn">Know More</a> 
								Win unlimited rewards and unlock benefits for you and family by purchasing Bosch Power Tools and accessories.
							</p>
					
					</div>
					
					<div class="bottom-quotes whiteFont">
						<!-- <p><strong>Lorem ipsum</strong>  dolor sit amet, consectutur aidspcidng elid, sed do sinmdo temopr incidud ut lobareo et dolore mangna liaqua. Ut enim ad minim veniam</p> -->
						<img src="img/customers.png">
					</div>


						</td></tr>

					</table>
					
				
				</div>
				<div class="col-md-6 sidebg parent" id="dealersTile">

					<table>
						<tr><td>
						<div class="tile-wrapper">
							
							<h2 class="tile-header text-uppercase greenFont">Dealers</h2>
							
							<p class="tile-desc">
								<a href="infoPages.html#/dealersProgramDetails" class="tile-btn">Know More</a>
								Earn referral “stars” on referring customers to MyBoschRewards and earn attractive rewards for the “stars” earned.
							</p>
						
						</div>
						
						<div class="bottom-quotes whiteFont">
							<!-- <p><strong>Lorem ipsum</strong>  dolor sit amet, consectutur aidspcidng elid, sed do sinmdo temopr incidud ut lobareo et dolore mangna liaqua. Ut enim ad minim veniam</p> -->
							<img src="img/dealers.png">
						</div>

					</td></tr>

					</table>
				
				</div>
			
			</div>
		
		
		</main>
	
		<!-- <footer></footer> -->
	
	</div>
	
	
	<script src="js/site_config.js"></script>

	<!--
		Use below concatenated and minified js in production
	-->
	<!-- <script src="dist/static.pages.min.js"></script> -->

	<!--
		Use these below js in development
	-->

	<script src="libs/angular.min.js"></script>
	<script src="libs/angular-route.js"></script>

	<script src="js/app.js"></script>
	<script src="js/appconfig/static_pages.js"></script>
	<script src="js/controllers/parent.js"></script>
	<script src="js/controllers/login.js"></script>
	<script src="js/controllers/index_page.js"></script>

	<script src="js/service/auth.js"></script>
	<script src="js/service/constructor.js"></script>


</body>
</html>