<div class="inner-wrapper">
    <div class="dash-tiles row">
        <div class="item col-md-3 ">
            <div class="item bgColor1 self-clear">
                <div class="col-sm-8">
                    <h2 class="figuredata fontWhite" ng-bind="tileData.user_registered"></h2>
                    <h3 class="title bg fontWhite">USERS REGISTERED</h3>
                    <p class="title sm fontWhite">YTD (CURRENT MONTH)</p>
                </div>

                        
            </div>
            <ul class="tile-menu bgColor1_light fontColor1">
                <li><a href="#userregistrations">USERS REGISTRATION</a></li>
            </ul>
        </div>
        <div class="item col-md-3 ">
            <div class="item bgColor2 self-clear">
                <div class="col-sm-8">
                    <h2 class="figuredata fontWhite" ng-bind="tileData.sales_quantity"></h2>
                    <h3 class="title bg fontWhite">SALES QUANTITY</h3>
                    <p class="title sm fontWhite">YTD (CURRENT MONTH)</p>
                </div>
            </div>
            <ul class="tile-menu bgColor2_light fontColor2">
                <li><a href="#skuscanned">SKU<small class="font-normal">s</small> SCANNED <span class="font-normal">RETAILER <small>VS</small> USER</span></a></li>
            </ul>
        </div>
        <div class="item col-md-3 ">
            <div class="item bgColor3 self-clear">
                <div class="col-sm-8">
                    <h2 class="figuredata fontWhite" ng-bind="tileData.points_earned"></h2>
                    <h3 class="title bg fontWhite">POINTS EARNED</h3>
                    <p class="title sm fontWhite">YTD (CURRENT MONTH)</p>
                </div>
            </div>
            <ul class="tile-menu bgColor3_light fontColor3">
                <li><a href="#earnedvsburned">POINTS <span class="font-normal">EARNED <small>VS</small> BURNED</span></a></li>
            </ul>
        </div>
        <div class="item col-md-3 ">
            <div class="item bgColor4 self-clear">
                <div class="col-sm-8">
                    <h2 class="figuredata fontWhite" ng-bind="tileData.points_burned"></h2>
                    <h3 class="title bg fontWhite">POINTS BURNED</h3>
                    <p class="title sm fontWhite">YTD (CURRENT MONTH)</p>
                </div>
            </div>
            <ul class="tile-menu bgColor4_light fontColor4">
                <li><a href="#userredemptions">USERS REDEMPTIONS</a></li>
            </ul>
        </div>
    </div>
</div>