<div class="inner-wrapper parent">
    <div class="chart-container">
        <div class="chart-title-bar self-clear">
            <h2 class="pull-left">POINTS EARNED <small>VS</small> BURNED</h2>

            <div class="pull-right">
                <select class="chart-filter text-uppercase" ng-options="region.label for region in regionFilter.list track by region.value" ng-model="regionFilter.value" ng-change="getData()">
                    <option value="" disabled>Select Region</option>
                </select>
                <input type="text" class="chart-filter text-center" placeholder="From" ng-input-date="fromDateFilter">
                <input type="text" class="chart-filter text-center" placeholder="To" ng-input-date="toDateFilter">
            </div>
        </div>
        <div class="chart-title-bar-sm self-clear">
            <!--<p class="figure-summary pull-left"><b>8K</b> APP VS <b>4K</b> SMS</p>-->
            <p class="figure-summary pull-left">
                <span class="vs_compare" ng-repeat="yItem in data.yAxis"><b ng-bind="yItem.totalValue | toK"></b> {{yItem.label}}</span>
            </p>
        </div>

        <div class="chart-legend">
            <ul>
                <li ng-repeat="yItem in data.yAxis">
                    <div class="legend-box" ng-attr-style="background-color: {{yItem.color[0]}}"></div>
                    <label class="legend-label" ng-bind="yItem.label"></label>
                </li>
            </ul>
        </div>

        <div class="bar-chart">
            <svg class="fullsizeChart" ng-areachart1="data"></svg>

        </div>

    </div>
</div>