<div class="inner-wrapper parent">

    <div class="chart-container has-bottom-margin" ng-controller="SkuScanned">
        <div class="chart-title-bar self-clear">
            <h2 class="pull-left">TOTAL SKUs SCANNED</h2>

            <div class="pull-right">
                <select class="chart-filter text-uppercase" ng-options="region.label for region in regionFilter.list track by region.value" ng-model="regionFilter.value" ng-change="getData()">
                    <option value="" disabled>Select Region</option>
                </select>
                <input type="text" class="chart-filter text-center" placeholder="From" ng-input-date="fromDateFilter">
                <input type="text" class="chart-filter text-center" placeholder="To" ng-input-date="toDateFilter">
            </div>
        </div>
        <div class="chart-title-bar-sm self-clear">
            <!--<p class="figure-summary pull-left"><b>8K</b> APP VS <b>4K</b> SMS</p>-->
            <p class="figure-summary pull-left">
                <span class="vs_compare" ng-repeat="yItem in data.yAxis"><b ng-bind="yItem.totalValue | toK"></b> {{yItem.label}}</span>
            </p>
        </div>

        <div class="chart-legend">
            <ul>
                <li ng-repeat="yItem in data.yAxis">
                    <div class="legend-box" ng-attr-style="background-color: {{yItem.color}}"></div>
                    <label class="legend-label" ng-bind="yItem.label"></label>
                </li>
            </ul>
        </div>

        <div class="bar-chart">
            <table>
                <tbody>
                   <tr>
                        <td ng-repeat="bardata in data.xAxis">
                           
                            <div class="bar bar-sm" ng-repeat="yItem in data.yAxis" ng-setheight="((yItem.values[$parent.$index] | scaleUpToPercent : yItem.peakValue) / data.yAxis.length) +'%'" ng-attr-style="background-color : {{yItem.color}}">
                                <p class="figureLabel" ng-bind="yItem.values[$parent.$index] | toK : 'blankzero'" ng-class="(((yItem.values[$parent.$index] | scaleUpToPercent : yItem.peakValue)/ data.yAxis.length) < 10)?'top':'inside'"></p>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td ng-repeat="label in data.xAxis track by $index" ng-bind="label"></td>
                    
                </tfoot>

            </table>

        </div>

    </div>

    <div class="chart-container" ng-controller="SkuScannedUser">
        <div class="chart-title-bar self-clear">
            <h2 class="pull-left">TOTAL SKUs SCANNED <small>USER</small></h2>

            <div class="pull-right">
                <select class="chart-filter text-uppercase" ng-options="region.label for region in regionFilter.list track by region.value" ng-model="regionFilter.value" ng-change="getData()">
                    <option value="" disabled>Select Region</option>
                </select>
                <input type="text" class="chart-filter text-center" placeholder="From" ng-input-date="fromDateFilter">
                <input type="text" class="chart-filter text-center" placeholder="To" ng-input-date="toDateFilter">
            </div>
        </div>
        <div class="chart-title-bar-sm self-clear">
            <!--<p class="figure-summary pull-left"><b>8K</b> APP VS <b>4K</b> SMS</p>-->
            <p class="figure-summary pull-left">
                <span class="vs_compare" ng-repeat="yItem in data.yAxis"><b ng-bind="yItem.totalValue | toK"></b> {{yItem.label}}</span>
            </p>
        </div>

        <div class="chart-legend">
            <ul>
                <li ng-repeat="yItem in data.yAxis">
                    <div class="legend-box" ng-attr-style="background-color: {{yItem.color}}"></div>
                    <label class="legend-label" ng-bind="yItem.label"></label>
                </li>
            </ul>
        </div>

        <div class="bar-chart">
            <table>
                <tbody>
                   <tr>
                        <td ng-repeat="bardata in data.xAxis">
                           
                            <div class="bar bar-sm" ng-repeat="yItem in data.yAxis" ng-setheight="((yItem.values[$parent.$index] | scaleUpToPercent : yItem.peakValue) / data.yAxis.length) +'%'" ng-attr-style="background-color : {{yItem.color}}">
                                <p class="figureLabel" ng-bind="yItem.values[$parent.$index] | toK : 'blankzero'" ng-class="(((yItem.values[$parent.$index] | scaleUpToPercent : yItem.peakValue)/ data.yAxis.length) < 10)?'top':'inside'"></p>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td ng-repeat="label in data.xAxis track by $index" ng-bind="label"></td>
                    
                </tfoot>

            </table>

        </div>
    </div>




</div>