<div class="inner-wrapper parent">
    <div class="chart-container">
        <div class="chart-title-bar self-clear">
            <h2 class="text-uppercase pull-left">User Registrations</h2>

            <div class="pull-right">
                <select class="chart-filter text-uppercase" ng-options="region.label for region in regionFilter.list track by region.value" ng-model="regionFilter.value" ng-change="getData()">
                    <option value="" disabled>Select Region</option>
                </select>
                <input type="text" class="chart-filter text-center" placeholder="From" ng-input-date="fromDateFilter">
                <input type="text" class="chart-filter text-center" placeholder="To" ng-input-date="toDateFilter">
            </div>
        </div>
        <div class="chart-title-bar-sm self-clear">
            <p class="figure-summary pull-left"><b ng-bind="data.totalValue | indianNum"></b> Users Registered</p>
        </div>

        <div class="bar-chart">
            <table>
                <tbody>
                   <tr>
                        <td ng-repeat="bardata in data.yAxis track by $index">
                            <div class="bar" ng-setheight="(bardata | scaleUpToPercent : data.peakValue) + '%'">
                                <p class="figureLabel" ng-bind="bardata | toK : 'dashzero'" ng-class="((bardata | scaleUpToPercent : data.peakValue) < 10)?'top':'inside'"></p>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td ng-repeat="label in data.xAxis track by $index" ng-bind="label"></td>
                    
                </tfoot>

            </table>

        </div>

    </div>
</div>