<nav class="navbar page-nav greenBottom">
	<div class="inner-wrapper">
		<div class="navbar-header">
			<!-- <a class="navbar-brand" href="#">Admin</a> -->
		</div>
		<ul class="nav navbar-nav navbar-center">
			<li>
				<a href="#dealersProgramDetails">
					<img src="img/icons-green/about-the-program.png">About the Program
				</a>
			</li>
			<li class="active">
				
				<a href="#contactDl"><img src="img/icons-green/contact-us.png">Contact Us</a>
			</li>
		</ul>
	</div>
</nav>

<div class="inner-wrapper contact-page padding-top-20">
	

	<div class="self-clear">
		
		<div class="col-sm-6 text-center addresses">
			<p>Have any questions?</p>
			<p>Just fill up the form with your querry</p>

			<p>or</p>

			<p>Contact us at <a href="tel:180030009974">180030009974</a> <br>or<br> mail to us at <a href="mailto:mbr@biworldwide.com">mbr@biworldwide.com</a></p>

		</div>
		<div class="col-sm-6">
			
			<form>
					
				<input class="form-control" type="text" placeholder="Name *" required>
				<input class="form-control" type="email" placeholder="Email *" required>
				<input class="form-control" type="text" placeholder="Subject">
				<textarea class="form-control" placeholder="Message *" required></textarea>
				<input class="btn btn-bosch-green" type="submit" value="SUBMIT">

			</form>
		</div>

	</div>

</div>