<nav class="navbar page-nav blueBottom">
	<div class="inner-wrapper">
		<div class="navbar-header">
			<!-- <a class="navbar-brand" href="#">Admin</a> -->
		</div>
		<ul class="nav navbar-nav navbar-center">
			<li class="active">
				<a href="#customersProgramDetails">
					<img src="img/icons-blue/about-program.png">About the Program
				</a>
			</li>
			<li>
				<a href="#contactCs"><img src="img/icons-blue/contact.png">Contact Us</a>
			</li>
		</ul>
	</div>
</nav>

<nav class="semi-navbar">
	<div class="inner-wrapper">
		<ul class="inline-list has-divider">
			<li ng-repeat="x in navigations.customers" ng-class="(x.templateUrl == activeRoute)?'active':''">
				<a ng-href="{{x.routeURl}}" ng-bind="x.label"></a>
			</li>
		</ul>
	</div>
</nav>

<div class="inner-wrapper aboutProgram blackFont">
	<div class="well well-sm blueBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Earn/Claim</b>
	</div>
	<div class=" self-clear">
		<p class="hasPaddingAround">My Bosch Rewards is a rewarding loyalty program for the hardworking and well connected dealers and customer of Bosch Power Tools. Win unlimited rewards and unlock many other benefits for you and your family by actively participating in My Bosch Rewards Program and strengthening your relationship with Bosch. On becoming a member of My Bosch program, there are many ways through which you can earn reward points.</p>
		
		<div class="col-sm-3">
			<img class="point-icon" src="img/icons-blue/4.png">
			<p class="blueFont text-center"><b>Welcome Bonus</b></p>
			<p class="text-justify">Customer will receive a one-time bonus on successful registration in the My Bosch Rewards program.</p>
		</div>
		
		<div class="col-sm-3">
			<img class="point-icon" src="img/icons-blue/3.png">
			<p class="blueFont text-center"><b>Purchase Points</b></p>
			<p class="text-justify">To earn the purchase points, buy eligible products of Bosch Power Tools and SMS MBC&lt;space&gt;12 digit customer coupon code to 8861463939 from your registered mobile number. If you are a registered customer, you can also scan the QR Code with the My Bosch Rewards mobile app.</p>
		</div>
		
		<div class="col-sm-3">
			<img class="point-icon" src="img/icons-blue/2.png">
			<p class="blueFont text-center"><b>Referral Points</b></p>
			<p class="text-justify">Referral points can be earned when you refer your peer or partner to My Bosch Rewards program. SMS REF&lt;space&gt;10 digit mobile number to your peer/ partner to 8861463939 from your registered mobile number. Referral points will be credited to your program accounts when the referred customer makes his first claim.</p>
		</div>
		
		<div class="col-sm-3">
			<img class="point-icon" src="img/icons-blue/1.png">
			<p class="blueFont text-center"><b>Bonus Points</b></p>
			<p class="text-justify">You can win additional points by participating in program related campaigns and contests showing consistency and growth in purchase of Bosch Power Tools.</p>
		</div>
		
	</div>
	
	
	<div class="well well-sm blueBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Redeem</b>
	</div>
	<div class="self-clear">
		<p class="hasPaddingAround">You can redeem your points against a wide range of products and vouchers featured in our rewards gallery. You can redeem points online and offline.</p>
		
		<div class="col-sm-6">
			<img class="point-icon" src="img/icons-blue/5.png">
			<p class="blueFont text-center"><b>Online through mobile app</b></p>
			<p class="text-justify">Simply open My Bosch Rewards mobile app and check out the Reward Gallery section to select the product of your choice.</p>
		</div>
		
		<div class="col-sm-6">
			<img class="point-icon" src="img/icons-blue/6.png">
			<p class="blueFont text-center"><b>Offline (at dealer's outlet)</b></p>
			<p class="text-justify">Look for the offline catalogue at Bosch Power Tools outlet and select the product of your choice.

</p>
		</div>
		
	</div>
	<p class="hasPaddingAround hasMarginTop">Selected rewards will be delivered to your address within 21 business days from the date of redemption. In case any information regarding the redemption, please call us at <a href="tel:180030009974">1800 3000 9974</a> or write to us at <a href="mailto:mbr@biworldwide.com">mbr@biworldwide.com</a></p>
	
	
</div>