<nav class="navbar page-nav blueBottom">
	<div class="inner-wrapper">
		<div class="navbar-header">
			<!-- <a class="navbar-brand" href="#">Admin</a> -->
		</div>
		<ul class="nav navbar-nav navbar-center">
			<li class="active">
				<a href="#">
					<img src="img/icons-blue/about-program.png">About the Program
				</a>
			</li>
			<li>
				<a href="#contactCs"><img src="img/icons-blue/contact.png">Contact Us</a>
			</li>
		</ul>
	</div>
</nav>


<nav class="semi-navbar">
	<div class="inner-wrapper">
		<ul class="inline-list has-divider">
			<li ng-repeat="x in navigations.customers" ng-class="(x.templateUrl == activeRoute)?'active':''">
				<a ng-href="{{x.routeURl}}" ng-bind="x.label"></a>
			</li>
		</ul>
	</div>
</nav>

<div class="inner-wrapper terms">
	<!-- <div class="well well-sm blueBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Terms and Conditions for My Bosch Rewards</b>
	</div> -->

	<div class="well well-sm blueBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Eligibility and Validity:</b>
	</div>
	<ol class='styled-list'>
		<li>All Bosch PT customers, registered with My Bosch Rewards program are eligible for the My Bosch Rewards program.</li>
		<li>My Bosch Rewards Program is valid for all registered customers of Bosch PT effect from March 2017. All enrolled members are eligible to earn points in My Bosch Rewards Program.</li>
		<li>Last date of claiming the points is 31st March 2018 and the validity of points earned will end on 30th June 2018.</li>
		<li>Bosch PT reserves right to extend or reduce the program duration and shall notify participants about any such change in duration well in advance.</li>
	</ol>

	<div class="well well-sm blueBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Program Access:</b>
	</div>
	<ol class='styled-list'>
		<li>Access through app: Members can download My Bosch Rewards Mobile App and use the same to access the program.</li>
		<li>My Bosch Rewards members are requested not to register their mobile number for DND (Do Not Disturb) or NDNC (National Do Not Call) as entire program communication would be done through SMSs.</li>
		<li>All members enrolled in this program are required to strictly keep their My Bosch Rewards login credentials confidential and use the My Bosch Rewards Program login credentials assigned to them only. All enrolled members must follow this strictly and should not indulge in any practice contravening it directly or indirectly.</li>
		<li>Membership is non-transferable and subject to present and future program rules.</li>
		<li>Enrolment becomes effective and acceptance of these terms & conditions begins when a new member enrolls in the My Bosch Rewards Program.</li>
		<li>Bosch PT reserves the right to withdraw/ discontinue/ terminate any individual’s membership in My Bosch Rewards Program. Upon membership termination, all Points accrued in the My Bosch Rewards Account shall expire immediately and the membership gets closed.</li>
	</ol>

	<div class="well well-sm blueBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Program and Points:</b>
	</div>
	<ol class='styled-list'>
		<li>The Points cannot be exchanged for cash or credit or be used to obtain cash advances, or be used against payment for any charges incurred.</li>
		<li>Bosch PT reserves the right to make My Bosch Rewards Program points and promotional offers available to select members based on purchase activity, geographic location and program participation.</li>
		<li>Bosch PT reserves the right to make My Bosch Rewards Program points and promotional offers available to select members based on purchase activity, geographic location and program participation.</li>
		<li>Membership points have no cash value and are non-transferable.</li>
		<li>Bosch PT reserves the right to either increase or decrease the number of Points accrued on qualifying purchases, or to change how Points are accrued, from time to time and at our sole discretion.</li>
		<li>These Terms and Conditions are governed by the laws of the Indian Republic and all disputes are subject to the exclusive jurisdiction of the courts of Bangalore.</li>
	</ol>
	
	<div class="well well-sm blueBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Redemption:</b>
	</div>
	<ol class='styled-list'>
		<li>Only members having ‘active’ My Bosch Rewards membership can request for redemption of Points. Bosch PT reserves the right to deactivate membership status of members/ users at its sole discretion.</li>
		<li>Each authorized and active Bosch PT member/ user under the My Bosch Rewards Program can redeem points earned against purchase of Bosch products as indicated in the offline reward booklet which can be requested at the dealer’s outlet and SMS the reward code to 8861463939.</li>
		<li>The images shown in rewards catalog are indicative of the product being offered, the actual product, its color and design may vary from the displayed image.</li>
		<li>Bosch PT makes no warranties or representations either expressed or implied, with regard to the type, quality or fitness of the rewards provided through the My Bosch Rewards Program. Rewards will be accompanied by warranty information wherever applicable from the manufacturer and claims must be directed to the manufacturers directly.</li>
		<li>Bosch PT will not be liable for any deficiency/defect in any product disbursed as rewards by it or on account of any dispute relating to the right to utilize the product subsequent to disbursement of the same as rewards.</li>
		<li>In case of damage of items during transit OR wrong item sent OR difference in requested item & received item, member needs to contact the customer service desk at 1800 3000 9974 or email MBR@biworldwide.com within 48 hours of receipt of the reward. However, in case of failure to do so, the reward shall be considered as accepted and member’s request shall not be entertained.</li>
		<li>Defective goods will be replaced or alternate product will be delivered if the defect is reported within 48 hours of receiving the defective product. To report a product as defective, call 1800 3000 9974   or send an email to MBR@biworldwide.com.</li>
		<li>Bosch PT reserves the right to introduce new products and replace the existing ones at any point in time without prior intimation to the member.</li>
		<li>In case of order cancellation, points reversal will be done in 48 business hours of order cancellation. In case of return of damaged or poor quality goods, point’s reversal will be done in 48 business hours after receiving the products.</li>
		<li>Bosch PT will do an “address specific” dispatch of redeemed items/Gift Vouchers. The member shall be solely responsible for ensuring that correct address is updated with Bosch PT and concerned people at his home/office (as the case may be) are kept informed. Bosch PT will not be responsible for non-receipt of redeemed items/vouchers on account of deliveries done to any other person at the registered address other than the member.</li>
		<li>Physical rewards redeemed will be delivered at address specified at the checkout page which is in India only. No dispatch shall be made to P.O. Box addresses or to addresses outside India.</li>
		<li>Merchandise once ordered cannot be exchanged for some other merchandise within the Rewards Catalogue. Merchandise once ordered cannot be returned/ exchanged unless the merchandise is delivered defective. Order can be cancelled within 24 hours though. To cancel an order call 1800 3000 9974 or send an email to MBR@biworldwide.com.</li>
		<li>To the extent permitted by law, Bosch PT makes no representations or warranties as to the quality, suitability or merchantability of any reward. Warranty claims must be directed to the manufacturer.</li>
		<li>You order will be delivered to you in next 21 days of the order date. In case of unforeseen delays, a SMS notification will be sent. Orders with multiple products may get delivered on different dates.</li>
	</ol>
	
	<div class="well well-sm blueBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Program Duration:</b>
	</div>
	<ol class='styled-list'>
		<li>Bosch PT reserves the right to extend or reduce the My Bosch Rewards Program period, a separate communication would be sent in this regard if Bosch PT deems the same necessary.</li>
		<li>For the purpose of the "My Bosch Rewards Program", the decision of Bosch PT shall be final and binding in all respects. Bosch PT may add, delete, substitute or modify the prizes mentioned herein and /or the terms & conditions at any time without prior notice during the tenure of this program and this shall be final and binding on all My Bosch Rewards members.</li>
	</ol>

</div>



