<nav class="navbar page-nav greenBottom">
	<div class="inner-wrapper">
		<div class="navbar-header">
			<!-- <a class="navbar-brand" href="#">Admin</a> -->
		</div>
		<ul class="nav navbar-nav navbar-center">
			<li class="active">
				<a href="#">
					<img src="img/icons-green/about-the-program.png">About the Program
				</a>
			</li>
			<li>
				<a href="#contactDl"><img src="img/icons-green/contact-us.png">Contact Us</a>
			</li>
		</ul>
	</div>
</nav>

<nav class="semi-navbar">
	<div class="inner-wrapper">
		<ul class="inline-list has-divider">
			<li ng-repeat="x in navigations.dealers" ng-class="(x.templateUrl == activeRoute)?'active':''">
				<a ng-href="{{x.routeURl}}" ng-bind="x.label"></a>
			</li>
		</ul>
	</div>
</nav>

<div class="inner-wrapper terms">
	<!-- <div class="well well-sm blueBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Terms and Conditions for My Bosch Rewards</b>
	</div> -->

	<div class="well well-sm greenBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Eligibility and Validity:</b>
	</div>
	<ol class='styled-list'>
		<li>All Bosch PT dealers, registered   with My Bosch Rewards program are eligible for the My Bosch Rewards program.</li>
		<li>My Bosch Rewards Program is valid for all registered dealers of Bosch PT effect from March 2017. All enrolled dealers are eligible to earn stars in My Bosch Rewards Program. </li>
		<li>Last date of claiming the stars   is 31st March 2018 and the validity of stars earned will end on 30th June 2018.</li>
		<li>Bosch PT reserves right to extend or reduce the program duration and shall notify participants about any such change in duration well in advance.</li>
	</ol>

	<div class="well well-sm greenBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Program Access:</b>
	</div>
	<ol class='styled-list'>
		<li>Access through app: Dealers has to download My Bosch Rewards Mobile App and use the same to access the program.</li>
		<li>My Bosch Rewards dealers are requested not to register their mobile number for DND (Do Not Disturb) or NDNC (National Do Not Call) as entire program communication would be done through SMSs.</li>
		<li>All dealers enrolled in this program are required to strictly keep their My Bosch Rewards login credentials confidential and use the My Bosch Rewards Program login credentials assigned to them only. All enrolled dealers must follow this strictly and should not indulge in any practice contravening it directly or indirectly.</li>
		<li>Membership of dealers is non-transferable and subject to present and future program rules.</li>
		<li>Enrolment becomes effective and acceptance of these terms & conditions begins when a new dealer enrolls in the My Bosch Rewards Program.</li>
		<li>Bosch PT reserves the right to withdraw/ discontinue/ terminate any individual’s membership in My Bosch Rewards Program. Upon membership termination, all Stars accrued in the My Bosch Rewards Account shall expire immediately and the membership gets closed.</li>
	</ol>

	<div class="well well-sm greenBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Program and Stars:</b>
	</div>
	<ol class='styled-list'>
		<li>The Stars cannot be exchanged for cash or credit or be used to obtain cash advances, or be used against payment for any charges incurred.</li>
		<li>Bosch PT reserves the right to make My Bosch Rewards Program stars and promotional offers available to select dealers based on referring activity, geographic location and program participation.</li>
		<li>Membership stars have no cash value and are non-transferable.</li>
		<li>Bosch PT reserves the right to either increase or decrease the number of stars accrued on referring customers qualifying, or to change how stars are accrued, from time to time and at our sole discretion.</li>
		<li>These Terms and Conditions are governed by the laws of the Indian Republic and all disputes are subject to the exclusive jurisdiction of the courts of Bangalore.s</li>
	</ol>

	<div class="well well-sm greenBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Program Duration:</b>
	</div>
	<ol class='styled-list'>
		<li>Bosch PT reserves the right to extend or reduce the My Bosch Rewards Program period, a separate communication would be sent in this regard if Bosch PT deems the same necessary.</li>
		<li>For the purpose of the "My Bosch Rewards Program", the decision of Bosch PT shall be final and binding in all respects. Bosch PT may add, delete, substitute or modify the prizes mentioned herein and /or the terms & conditions at any time without prior notice during the tenure of this program and this shall be final and binding on all My Bosch Rewards mem dealers.</li>
	</ol>


</div>
