<nav class="navbar page-nav greenBottom">
	<div class="inner-wrapper">
		<div class="navbar-header">
			<!-- <a class="navbar-brand" href="#">Admin</a> -->
		</div>
		<ul class="nav navbar-nav navbar-center">
			<li class="active">
				<a href="#">
					<img src="img/icons-green/about-the-program.png">About the Program
				</a>
			</li>
			<li>
				<a href="#contactDl"><img src="img/icons-green/contact-us.png">Contact Us</a>
			</li>
		</ul>
	</div>
</nav>

<nav class="semi-navbar">
	<div class="inner-wrapper">
		<ul class="inline-list has-divider">
			<li ng-repeat="x in navigations.dealers" ng-class="(x.templateUrl == activeRoute)?'active':''">
				<a ng-href="{{x.routeURl}}" ng-bind="x.label"></a>
			</li>
		</ul>
	</div>
</nav>

<div class="inner-wrapper aboutProgram blackFont">
	<div class="well well-sm greenBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Earn/Claim</b>
	</div>
	<div class=" self-clear">
		<p class="hasPaddingAround">My Bosch Rewards is a rewarding loyalty program for the hardworking and well connected dealers and customer of Bosch Power Tools. Win unlimited rewards and unlock many other benefits for you and your family by actively participating in My Bosch Rewards Program and strengthening your relationship with Bosch. On becoming a member of My Bosch program, there are many ways through which you can earn reward points.</p>
		
		
	</div>
	
	
	<div class="well well-sm greenBg whiteFont sharp-corner no-border no-margin hasMarginTop">
		<b>Refer Customer</b>
	</div>
	<div class="self-clear">
		<p class="hasPaddingAround">Keep referring new customers to My Bosch Rewards program to get best out of it.</p>
		
		<div class="col-sm-12">
			<p class="greenFont"><b>To refer a customer to this program:</b></p>
			<p class="text-justify">Encourage the customers to purchase an eligible product of Bosch Power Tools
Tell customers about the benefits of the program and how to enroll into the program.
Sell eligible products of Bosch Power Tools to that customer and scan the dealer QR code from your My Bosch Rewards mobile app. You can also SMS REF<space>10 digit mobile number of the customer to 8861463939 from your registered mobile number. 
(Before claiming the points, customer needs to successfully register themselves in the program.)</p>
		</div>	
		
	</div>
	
	<p class="hasPaddingAround hasMarginTop">Get stars on each referral and quarterly gift voucher for referral stars accrued in the duration.<br>(Win 1star on each referral and mile stone bonus on 11th ,21st, 31st, 41st,51st, 61st, 71st, 81st, referrals and so on…)</p>
	
	
</div>

