<div class="loginForm" ng-class="(loginForm.state)?'active':''">
	<div class="inner-wrapper">
		<form action="index.html" type="post" name="formLogin">
			<div class="form-group">
    			<label for="email">Type Your Email Address</label>
    			<input type="email" class="form-control" id="email" required ng-model="loginForm.email">
 			</div>

 			<div class="form-group">
 				<button type="submit" class="btn btn-primary submit" ng-disabled="formLogin.$invalid">Submit</button>
 			</div>

 			<div class="form-group">
 				<a href="#login" class="forgotBtn" role="button">Back To Login</a>  
 			</div>
			</form>
		</div>
</div>
