<div class="loginForm" ng-class="(loginForm.state)?'active':''">
	<div class="inner-wrapper">
		<form type="post" name="formLogin" ng-submit="loginForm.submit($event);">
			<div class="form-group">
    			<label for="email">Email Address</label>
    			<input type="email" class="form-control" id="email" required ng-model="loginForm.email">
 			</div>

 			<div class="form-group">
    			<label for="password">Password</label>
    			<input type="password" class="form-control" id="password" required ng-model="loginForm.password">
 			</div>

 			<div class="form-group">
 				<button type="submit" class="btn btn-bosch submit" ng-disabled="!submitBtn.state">Login</button>
 			</div>

			<p class="redFont" ng-bind="formMsg.msg"></p>

 			<div class="form-group">
 				<a href="#forgetPassword" class="forgotBtn" role="button">Forgot password?</a>  
 			</div>
		</form>
	</div>
</div>